.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid rgb(14, 14, 14);
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border-radius: 6px;
    // border: none;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(14, 14, 14);
      color: #fff;
      border: 1px solid #fff;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: #fff;
        border: none;

        &:hover {
            background-color: #357ae8;
        }
    }
  }
  